@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";



*{
   font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
   box-sizing: border-box;
}



body,html {
   width: 100%;
  overflow-x: hidden; /* 👈 Stops horizontal scroll */
  scroll-behavior: smooth;
  font-family: 'Saira', 'Poppins', sans-serif;
}


/* ✅ Headings */
/* h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Poppins', sans-serif;
  font-weight: 600; */
/* } */
 /* */ 

/* In your CSS or global file */
.slick-slider {
  overflow: hidden;
   margin-bottom: 0 !important;
  padding-bottom: 0 !important;

}

.slick-list {
  overflow: hidden !important;
   margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.slick-slide {
  padding: 0 10px; /* horizontal spacing between slides */
}
.slick-track {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

/* Makes the center slide automatically scale up */
.slick-center img {
  transform: scale(1.3);
  transition: transform 0.3s;
}


